<footer class="footer">
  <div class="footer-container">
    <div class="footer-column text-column">
      <a href="galeria.html" data-i18n="footer.gallery_link">Galeria</a>
    </div>
    <div class="footer-column">
      <div class="social-links">
        <a
          href="https://www.instagram.com/xandalcom/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <i class="bi bi-instagram"></i>
        </a>
        <a
          href="https://wa.me/34608995027"
          target="_blank"
          rel="noopener noreferrer"
        >
          <i class="bi bi-whatsapp"></i
        ></a>
        <a href="tel:+34932050028"><i class="bi bi-telephone"></i></a>
        <a href="mailto:info@xandal.com"><i class="bi bi-envelope"></i></a>
      </div>
    </div>
    <div class="footer-column text-column">
      <a
        href="https://www.google.com/maps/place/Carrer+Major+de+Sarri%C3%A0,+222,+08017+Barcelona/@41.40306,2.1179664,17z"
        target="_blank"
        rel="noopener noreferrer"
      >
        <i class="bi bi-geo-alt-fill"></i> Carrer Major de Sarrià, 222
      </a>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="footer-logo-div">
      <img src="assets/img/logo.png" alt="XANDAL Logo" class="footer-logo" />
    </div>
    <div>
      <p data-i18n="footer.slogan">
        Confección a medida de equipaciones personalizadas para escuelas y clubs
        deportivos
      </p>
      <p>&copy; 2025 XANDAL</p>
    </div>
    <div class="footer-logo-div">
      <img src="assets/img/logo.png" alt="XANDAL Logo" class="footer-logo" />
    </div>
  </div>
</footer>
