<header>
  <div class="container">
    <div class="logo">
      <a href="/">
        <img src="assets/img/logo.png" href="" alt="Logo de XANDAL" />
        <span>XANDAL</span>
      </a>
    </div>
    <div class="menu-burger">≡</div>
    <nav>
      <ul>
        <li>
          <a href="index.html" class="nav-link" data-i18n="nav.home">Inici</a>
        </li>
        <li>
          <a href="galeria.html" class="nav-link" data-i18n="nav.gallery"
            >Galeria</a
          >
        </li>
        <li>
          <a href="contacto.html" class="nav-link" data-i18n="nav.contact"
            >Contacte</a
          >
        </li>
      </ul>
    </nav>
    <div class="language-selector">
      <button onclick="changeLanguage('ca')" title="Català">
        <span class="fi fi-es-ct"></span>
      </button>
      <button onclick="changeLanguage('es')" title="Español">
        <span class="fi fi-es"></span>
      </button>
      <button onclick="changeLanguage('en')" title="English">
        <span class="fi fi-gb"></span>
      </button>
    </div>
  </div>
</header>
